<table style="border-style:none">
<tr>
<td style="width:20%">
<span class='button'><%= link_to 'Back to List', targets_path %></span>
</td>
<td style="text-align:center">
<% if user_signed_in? && @target.editable?(current_user) -%>
  <span class='button'><%= link_to 'Edit', edit_target_path(@target) %></span>
  <span class='button'><%= link_to 'Delete', @target, method: :delete, data: { confirm: 'Are you sure?' } %></span>
  <%= render partial: 'lexical_index_request' %>
<% end %>
</td>
<td style="width:20%; text-align:right">
<span class='button'><%= link_to 'Open in LODQA', "http://lodqa.org/?target=#{@target.name}", title: "Open LODQA with this target" %></span>
</td>
</tr>
</table>
