<%= render partial: 'control' %>
<table>
<tr>
  <th>Name:</th>
  <td><%= @target.name %></td>
</tr>

<tr>
  <th>Description:</th>
  <td><%= @target.description %></td>
</tr>

<tr>
  <th>User:</th>
  <td><%= @target.user.email %></td>
</tr>

<tr>
  <th>Parser url:</th>
  <td><%= @target.parser_url %></td>
</tr>

<tr>
  <th>Endpoint url:</th>
  <td><%= @target.endpoint_url %></td>
</tr>

<tr>
  <th>Graph uri:</th>
  <td><%= @target.graph_uri %></td>
</tr>

<tr>
  <th>Dictionary url:</th>
  <td><%= @target.dictionary_url %></td>
</tr>

<tr>
  <th>Max hop:</th>
  <td><%= @target.max_hop %></td>
</tr>

<tr>
  <th>Ignore predicates:</th>
  <td>
    <% unless @target.ignore_predicates.empty? %>
      <% @target.ignore_predicates.each do |p| %>
        <li><%= p %></li>
      <% end %>
    <% end %>
  </td>
</tr>

<tr>
  <th>Sortal predicates:</th>
  <td>
    <% unless @target.sortal_predicates.empty? %>
      <% @target.sortal_predicates.each do |p| %>
        <li><%= p %></li>
      <% end %>
    <% end %>
  </td>
</tr>

<tr>
  <th>Sample queries:</th>
  <td>
    <% unless @target.sample_queries.empty? %>
      <% @target.sample_queries.each do |p| %>
        <li><%= p %></li>
      <% end %>
    <% end %>
  </td>
</tr>
</table>
<%= render partial: 'control' %>
