<%= render partial: 'show_control' %>
<table class='column-head'>
<tr>
  <th style="width:13em">Maintainer:</th>
  <td><%= @target.user.email %></td>
</tr>

<tr>
  <th>Name:</th>
  <td><%= @target.name %></td>
</tr>

<tr>
  <th>Description:</th>
  <td><%= @target.description %></td>
</tr>

<tr>
  <th>Project Home:</th>
  <td><%= @target.home %></td>
</tr>

<tr>
  <th>Public?:</th>
  <td><%= @target.publicity ? 'Yes' : 'No' %></td>
</tr>

<tr>
  <th>Endpoint URL:</th>
  <td><%= @target.endpoint_url %></td>
</tr>

<tr>
  <th>Graph URI:</th>
  <td><%= @target.graph_uri %></td>
</tr>

<tr>
  <th>Dictionary URL:</th>
  <td><%= @target.dictionary_url %></td>
</tr>

<tr>
  <th>Predicate Dictionary URL:</th>
  <td><%= @target.pred_dictionary_url %></td>
</tr>

<tr>
  <th>Max hop:</th>
  <td><%= @target.max_hop %></td>
</tr>

<tr>
  <th>Ignore predicates:</th>
  <td>
    <% unless @target.ignore_predicates.empty? %>
<pre>
<%= @target.ignore_predicates.join("\n") %>
</pre>
    <% end %>
  </td>
</tr>

<tr>
  <th>Sortal predicates:</th>
  <td>
    <% unless @target.sortal_predicates.empty? %>
<pre>
<%= @target.sortal_predicates.join("\n") %>
</pre>
    <% end %>
  </td>
</tr>

<tr>
  <th>Sample queries:</th>
  <td>
    <% unless @target.sample_queries.empty? %>
<pre>
<%= @target.sample_queries.join("\n") %>
</pre>
    <% end %>
  </td>
</tr>
</table>
<%= render partial: 'show_control' %>
