<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <table class="form">

    <tr>
      <th><%= f.label :username %></th>
      <td><%= f.text_field :username, autofocus: true %></td>
    </tr>

    <tr>
      <th><%= f.label :email %></th>
      <td><%= f.email_field :email %></td>
    </tr>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <tr>
        <th>Currently waiting confirmation for</th>
        <td><%= resource.unconfirmed_email %></td>
      </tr>
    <% end %>

    <tr>
      <th><%= f.label :password %></th>
      <td><%= f.password_field :password, autocomplete: "off" %></td>
      <td><i>(leave blank if you don't want to change it)</i></td>
    </tr>

    <tr>
      <th><%= f.label :password_confirmation %></th>
      <td><%= f.password_field :password_confirmation, autocomplete: "off" %></td>
    </tr>

    <tr>
      <th><%= f.label :current_password %></th>
      <td><%= f.password_field :current_password, autocomplete: "off" %></td>
      <td><i>(necessary to confirm your changes)</i></td>
    </tr>

    <tr>
      <th colspan="2"><%= f.submit "Update" %></th>
    </tr>

  </table>

<% end %>
<br/>

<%= button_to "Back", :back, method: :get %>
<%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

