<!DOCTYPE html>
<html>
<head>
  <title>LODQA Targets</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href="https://fonts.googleapis.com/css?family=Anton|Raleway" rel="stylesheet">
	<script>
		jQuery(document).ready(function($) {
			$('a[rel*=facebox]').facebox()
		})
	</script>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header" class="frame">
	<div id="title">
		<div id="logo">
			<a href="http://lodqa.org"><img src='/assets/lodqa-logo.svg' alt="LODQA" title="Question-Answering over Linked Open Data"></a>
		</div>
		<div id="logo-sub">
			<%= link_to 'Targets', root_path %>
		</div>
	</div>
	<div id="account" class="menu">
		<ul>
			<li><%= render 'devise/menu/registration_items' %></li>
			<li><%= render 'devise/menu/login_items' %></li>
		</ul>
	</div>
</div>

<div id="main">
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<%= yield %>
</div>

<div id="footer" class="frame">
<p>The LODQA service is provided by <a href="http://dbcls.rois.ac.jp">Database Center for Life Science (DBCLS)</a>.</p>
<p>Your questions and suggestions are welcome. Please contact to: support AT dbcls DOT rois DOT ac DOT jp</p>
</div>
</body>
</html>
