<!DOCTYPE html>
<html>
<head>
  <title>LODQA Targets</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header" class="frame">
<div id="title">
<a href="http://lodqa.org"><img src='/assets/lodqa-logo.svg' alt="LODQA" id='logo' title="Question-Answering over Linked Open Data"></a>
<%= link_to 'Targets', root_path %>
</div>
<div id="account" class="menu">
	<ul>
		<li><%= render 'devise/menu/registration_items' %></li>
		<li><%= render 'devise/menu/login_items' %></li>
	</ul>
</div>
</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div id="main" class="frame">
<%= yield %>
</div>
</body>
</html>
